/easiersolution.class
/frequencyofcharcters.class
/methoddeclaration.class
/methodoverloading.class
/optional_task.class
/overloadpractices.class
/returnmethodspractice.class
/voidmethodandreturnmethod.class
