/ScannerClass.class
/StringClass.class
/StringMethods.class
/StringScanner.class
/Task01.class
/Task3.class
/next_line_2.class
/nextline.class
/nextvsnextline.class
/task2.class
/warmUp.class
/warm_up.class
